---
Checks: "bugprone-*,
        cert-*,
        clang-analyzer-*,
        clang-diagnostic-*,
        hicpp-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -hicpp-braces-around-statements,
        -hicpp-use-auto,
        -hicpp-explicit-conversions
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -misc-no-recursion,
        -bugprone-easily-swappable-parameters,
        -modernize-use-auto,
        -modernize-use-trailing-return-type,
        -modernize-use-default-member-init,
        -modernize-use-using,
        -performance-no-int-to-ptr,
        -portability-restrict-system-includes,
        -readability-braces-around-statements,
        -readability-simplify-boolean-expr,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-identifier-length,
        -readability-redundant-string-init,
        -readability-use-anyofallof,
        -hicpp-vararg,
"
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     Chromium
CheckOptions:
  readability-function-cognitive-complexity.DescribeBasicIncrements: 'true'
  readability-function-cognitive-complexity.IgnoreMacros: 'true'
  readability-function-cognitive-complexity.Threshold: '25'
  readability-identifier-naming.AbstractClassCase: 'CamelCase'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassConstantCase: 'lower_case'
  readability-identifier-naming.ClassMemberCase: 'lower_case'
  readability-identifier-naming.ClassMemberPrefix: 'm_'
  readability-identifier-naming.ClassMethodCase: 'CamelCase'
  readability-identifier-naming.ConstantCase: 'lower_case'
  readability-identifier-naming.ConstantPrefix: 'k_'
  readability-identifier-naming.ConstantMemberCase: 'lower_case'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'Camel_Snake_Case'  # changes to CamelCase after HW1
  readability-identifier-naming.GlobalConstantCase: 'lower_case'
  readability-identifier-naming.GlobalConstantPrefix: 'k_'
  readability-identifier-naming.GlobalVariableCase: 'lower_case'
  readability-identifier-naming.GlobalVariablePrefix: 'g_'
  readability-identifier-naming.IgnoreMainLikeFunctions: 'true'
  readability-identifier-naming.MemberCase: 'lower_case'
  readability-identifier-naming.MethodCase: 'CamelCase'
  readability-identifier-naming.NamespaceCase: 'lower_case'
  readability-identifier-naming.ParameterCase: 'lower_case'
  readability-identifier-naming.PrivateMemberPrefix: 'm_'
  readability-identifier-naming.ProtectedMemberPrefix: 'm_'
  readability-identifier-naming.StaticConstantPrefix: 'k_'
  readability-identifier-naming.StaticVariablePrefix: 'g_'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.TemplateParmaterCase: 'UPPER_CASE'
  readability-identifier-naming.VariableCase: 'lower_case'
  readability-magic-numbers.IgnoredIntegerValues: '1;2;3;4;'
  readability-magic-numbers.IgnorePowersOf2IntegerValues: 'true'
  readability-magic-numbers.IgnoreBitFieldsWidths: 'true'
  readability-magic-numbers.IgnoredFloatingPointValues: '1.0;100.0;'
...
